<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    hello spring MVC

    <ul style="left: 100px;position: absolute">
        <li >小米</li>
        <li>小米</li>
        <li>小米</li>
        <li>小米</li>
        <li>小米</li>
        <li>小米</li>
        <li>小米</li>
    </ul>

    <!--<video width="800" autoplay="autoplay" controls="controls">-->
        <!--&lt;!&ndash;<source src="H:\\临时文件\\图灵\\二、VIP课程：源码框架专题\\09-spring5新特性-元歌\\spring5新特性.mp4" type="video/mp4"></source>&ndash;&gt;-->
        <!--<source src="" type="video/mp4"></source>-->
    <!--</video>-->

    <!--<div>-->
        <!--<iframe name="text" id="text" width="800" height="500" src="cc\FTPUtil.java"></iframe>-->
    <!--</div>-->

    <!--<div>-->
        <!--<iframe name="code" id="code" width="800" height="500" src="MessageListener.java"></iframe>-->
        <!--<iframe name="code" id="code" width="800" height="500" src="http://www.imooc.com/learn/85"></iframe>-->

    <!--</div>-->

    <!--<div>-->
        <!--<img src="img.png"/>-->
    <!--</div>-->
</body>
<style>
    #menu li a{
        display:block; /* 将链接设为块级元素 */
        width:150px; /* 设置宽度 */
        height:30px; /* 设置高度 */
        line-height:30px; /* 设置行高，将行高和高度设置同一个值，可以让单行文本垂直居中 */
        text-align:center; /* 居中对齐文字 */
        background:#3A4953; /* 设置背景色 */
        color:#fff; /* 设置文字颜色 */
        text-decoration:none; /* 去掉下划线 */
        border-right:1px solid #000; /* 在左侧加上分隔线 */
    }

</style>
</html>